<!doctype html>
<html lang="en">
<head>
  <% include partials/head %>
</head>
<body>
<% include partials/header %>
<h1 class="text-center title-1">Lista de Biometrias</h1>
<a href="/biometrias/atualizar_fotos_biometrias">Atualizar-Fotos</a>
<table>
  <tr>
    <th><a href="biometrias?order=_id">#</a></th>
    <th><a href="biometrias?order=apartamento">Apartamento</a></th>
    <th><a href="biometrias?order=nome">Nome</a></th>
    <th><a href="biometrias?order=perfil">Perfil</a></th>
    <th><a href="biometrias?order=ativo">Ativo</a></th>
    <th>Imagem</th>
  </tr>
  <% biometrias.forEach(function(biometria){ %>
  <tr>
    <td><%= biometria._id %></td>
    <td><%= biometria.apartamento %></td>
    <td><%= biometria.nome %></td>
    <td><%= biometria.perfil %></td>
    <td><%= biometria.ativo %></td>
    <td><img src="/images/<%= biometria._id %>.jpg"></td>
  </tr>
  <%})%>
</table>
</body>
</html>
