<!doctype html>
<html lang="en">
<head>
  <% include partials/head %>
</head>
<body>
<% include partials/header %>
<h1 class="text-center title-1">Lista de Biometrias</h1>
<!--<a href="/biometrias/atualizar_fotos_biometrias">Atualizar-Fotos</a>-->
<form action="biometrias" method="POST">
<table>
  <tr>
    <th><a href="biometrias?order=_id">#</a></th>
    <th><a href="biometrias?order=apartamento">Apartamento</a></th>
    <th><a href="biometrias?order=nome">Nome</a></th>
    <th><a href="biometrias?order=perfil">Perfil</a></th>
    <th><a href="biometrias?order=ativo">Ativo</a></th>
    <th>Imagem</th>
  </tr>
  <tr>
    <th></th>
    <th><input type="text" name="apartamento" size="5"/></th>
    <th><input type="text" name="nome"/></th>
    <th><input type="text" name="perfil"/></th>
    <th><input type="text" name="ativo" size="1"/></th>
    <th></th>
    <th>Data Cadastro</th>
    <th>Data Ultimo Evento</th>
    <th><input type="submit" value="Pesquisar" class="btn"/></th>
  </tr>  
  <% biometrias.forEach(function(biometria){ %>
  <tr>
    <td><%= biometria._id %></td>
    <td><%= biometria.bloco %> - <%= biometria.apartamento %></td>
    <td><%= biometria.nome %></td>
    <td><%= biometria.perfil %></td>
    <td><%= biometria.ativo %></td>
    <td><img src="/images/<%= biometria._id %>.jpg"></td>
    <td><%= biometria.data_cadastro.toISOString() %></td>
    <td><% if(biometria.data_ultimo_evento) { %><%= biometria.data_ultimo_evento.toISOString() %><% } %></td>
  </tr>
  <%})%>
</table>
</form>
</body>
</html>
