<!doctype html>
<html lang="en">
<head>
  <% include partials/head %>
</head>
<body>
<% include partials/header %>
<h1 class="text-center title-1"> Lista dos ultimos eventos </h1>
<form action="eventos" method="POST">
<table>
  <tr>
    <th>#</th>
    <th>Codigo/Serial</th>
    <th>Tipo</th>
    <th>Local</th>
    <th>Panico</th>
    <th>Bateria Fraca</th>
    <th>Data</th>
    <th></th>
  </tr>
  <tr>
    <th></th>
    <th><input type="text" name="codigo" size="5">/<input type="text" name="serial" size="5"/></th>
    <th><input type="text" name="tipo" size="1"/></th>
    <th><input type="text" name="local" size="3"/></th>
    <th><input type="text" name="panico" size="1"/></th>
    <th><input type="text" name="bateria_fraca" size="1"/></th>
    <th>Data</th>
    <th><input type="submit"/></th>
  </tr>
  <% eventos.forEach(function(evento){ %>
  <tr>
    <td><%= evento._id %></td>
    <td><%= evento.codigo %><%= evento.serial %></td>
    <td><%= evento.tipo %></td>
    <td><%= evento.local %></td>
    <td><%= evento.panico %></td>
    <td><%= evento.bateria_fraca %></td>
    <td><%= evento.data_hora.toISOString() %></td>
  </tr>
  <%})%>
</table>
</form>
</body>
</html>
