<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="refresh" content="5">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Controle de Acesso</title>
</head>
<body>
<h1 class="text-center title-1"> Lista dos ultimos eventos </h1>
<table>
  <tr>
    <th>#</th>
    <th>Codigo/Serial</th>
    <th>Tipo</th>
    <th>Local</th>
    <th>Panico</th>
    <th>Bateria Fraca</th>
    <th>Data</th>
  </tr>
  <% eventos.forEach(function(evento){ %>
  <tr>
    <td><%= evento._id %></td>
    <td><%= evento.codigo %><%= evento.serial %></td>
    <td><%= evento.tipo %></td>
    <td><%= evento.local %></td>
    <td><%= evento.panico %></td>
    <td><%= evento.bateria_fraca %></td>
    <td><%= evento.data_hora %></td>
  </tr>
  <%})%>
</table>
</body>
</html>
