<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Controle de Acesso</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Online</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/biometrias">Biometrias</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/veiculos">Veiculos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/eventos">Eventos</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-xl">
            <div class="container">
                <h1>Acesso biometrico</h1>
                <div class="row">
                    <div class="col-xl-5">
                        <img id="evento_biometria_foto" src="">
                    </div>
                    <div class="col-xl-6">
                        Apartamento:<span id="evento_biometria_apartamento"></span><br/>
                        Nome:<span id="evento_biometria_nome"></span><br/>
                        Local:<span id="evento_biometria_local"></span><br/>
                        Data:<span id="evento_biometria_data_hora"></span><br/>
                    </div>
                </div>
                <div class="row">
                    <h1>Mesmo apartamento</h1>
                </div>
                <div class="row" id="evento_biometria_associadas">
                </div>
            </div>
        </div>
        <div class="col-xl">
            <div class="container">
                <h1>Acesso veiculo</h1>
                <div class="row">
                    <div class="col-xl-6">
                        Apartamento:<span id="evento_veiculo_apartamento"></span><br/>
                        Nome:<span id="evento_veiculo_rotulo"></span><br/>
                        Marca:<span id="evento_veiculo_marca"></span><br/>
                        Cor:<span id="evento_veiculo_cor"></span><br/>
                        Placa:<span id="evento_veiculo_placa"></span><br/>
                        Data:<span id="evento_veiculo_data_hora"></span><br/>
                    </div>
                </div>
                <div class="row">
                    <h1>Pessoas mesmo apartamento</h1>
                </div>
                <div class="row" id="evento_veiculo_biometria_associadas">
                </div>
                <div class="row">
                    <h1>Veiculos mesmo apartamento</h1>
                </div>
                <div class="row" id="evento_veiculo_associados">
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script>
evento_biometria_id = -1;
evento_veiculo_id = -1;
var find_biometria = function () {
  $.ajax({
    type: "POST",
    data: "evento_biometria_id="+evento_biometria_id,
    url: "online_biometria",
    success: function(evento_biometria,status) {
      if(evento_biometria._id){
        evento_biometria_id = evento_biometria._id;
        $('#evento_biometria_foto').attr('src', '/images/'+evento_biometria.biometria._id+'.jpg');
        $("#evento_biometria_apartamento").text(evento_biometria.biometria.apartamento);
        $("#evento_biometria_nome").text(evento_biometria.biometria.nome);
        $("#evento_biometria_local").text(evento_biometria.local);
        $("#evento_biometria_data_hora").text(evento_biometria.data_hora);
        var associadas = '';
        $.each(evento_biometria.biometrias_associadas, function(i, biometria_associada) {
          associadas += '<div><img src="/images/'+biometria_associada._id+'.jpg"/><br/><span>'+biometria_associada.nome+'</span></div>'
        });
        $("#evento_biometria_associadas").html(associadas);
      }
      setTimeout(find_biometria, 5000);
    },
    dataType: 'json'
  });
}
var find_veiculo = function () {
  $.ajax({
    type: "POST",
    data: "evento_veiculo_id="+evento_veiculo_id,
    url: "online_veiculo",
    success: function(evento_veiculo,status) {
      if(evento_veiculo._id){
        evento_veiculo_id = evento_veiculo._id;
        $('#evento_veiculo_foto').attr('src', '/images/'+evento_veiculo.veiculo._id+'.jpg');
        $("#evento_veiculo_apartamento").text(evento_veiculo.veiculo.apartamento);
        $("#evento_veiculo_rotulo").text(evento_veiculo.veiculo.rotulo);
        $("#evento_veiculo_marca").text(evento_veiculo.veiculo.marca);
        $("#evento_veiculo_cor").text(evento_veiculo.veiculo.cor);
        $("#evento_veiculo_placa").text(evento_veiculo.veiculo.placa);
        $("#evento_veiculo_data_hora").text(evento_veiculo.data_hora);
        var associados = '';
        $.each(evento_veiculo.veiculos_associados, function(i, veiculo_associado) {
          associados += '<div>Marca: ' + veiculo_associado.marca + '<br/>Cor: ' + veiculo_associado.cor + '<br/>Placa: ' + veiculo_associado.placa + '<br/></div>'
        });
        $("#evento_veiculo_associados").html(associados);
        var associadas = '';
        $.each(evento_veiculo.biometrias_associadas, function(i, biometria_associada) {
          associadas += '<div><img src="/images/'+biometria_associada._id+'.jpg"/><br/><span>'+biometria_associada.nome+'</span></div>'
        });
        $("#evento_veiculo_biometria_associadas").html(associadas);
      }
      setTimeout(find_veiculo, 5000);
    },
    dataType: 'json'
  });
}
$( document ).ready(function() {
  find_biometria();
  find_veiculo();
});
</script>
</body>
</html>
