<!doctype html>
<html ng-app="onlineVeiculos">
<head>
    <% include partials/head %>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
    <script src="/js/online_veiculos.js"></script>
</head>
<body>
<% include partials/header %>
<div class="container-fluid">
    <div class="row">
        <div class="col" ng-controller="OnlineVeiculosController as controller">
            <h1>Acesso veiculo</h1>
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        Apartamento: <span style="background-color: lightgray; font-size: 42px; font-weight: bold">{{controller.veiculo.apartamento}}</span><br/>
                        Nome: {{controller.veiculo.rotulo}}<br/>
                        Marca: {{controller.veiculo.marca}}<br/>
                        Cor: {{controller.veiculo.cor}}<br/>
                    </div>
                    <div class="col" style="background-color: lightgray; font-size: 86px; font-weight: bold; text-align: center">
                        {{controller.veiculo.placa}}
                    </div>
                    <div class="col">
                        Data: {{controller.data_hora}}<br/>
                        <span style="background-color: {{controller.bateriaFracaCor}};">Bateria Fraca: {{controller.bateriaFraca}}</span><br/>
                        <span style="background-color: {{controller.panicoCor}};">Panico: {{controller.panico}}</span><br/>
                        Serial: {{controller.veiculo._id}}<br/>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h1>Pessoas mesmo apartamento</h1>
                        <div class="container">
                            <div class="row">
                                <div class="col" ng-repeat="pessoaMesmoApartamento in controller.pessoasMesmoApartamento">
                                    <img src="/images/{{pessoaMesmoApartamento._id}}.jpg"/><br/><span>{{pessoaMesmoApartamento.nome}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col"> 
                        <h1>Veiculos mesmo apartamento</h1>
                        <div class="container">
                            <div class="row">
                                <div class="col" ng-repeat="veiculoMesmoApartamento in controller.veiculosMesmoApartamento">
                                    Marca: {{veiculoMesmoApartamento.marca}}<br/>Cor: {{veiculoMesmoApartamento.cor}}<br/><span style="background-color: lightgray; font-size: 24px; font-weight: bold">{{veiculoMesmoApartamento.placa}}</span><br/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>