<!doctype html>
<html>
<head>
    <% include partials/head %>
</head>
<body>
<% include partials/header %>
<div class="container-fluid">
    <divc class="row">
        <div class="col">
            <form action="portal" method="GET">
            Apartamento: <input type="text" name="apartamento" size="5"/> 
            Situacao: <select name="situacao"><option value="">----</option><option value="red" style="background-color: red">VERMELHO</option><option value="yellow" style="background-color: yellow">AMARELO</option><option value="green" style="background-color: green">VERDE</option></select>
            <input type="submit" value="Pesquisar" class="btn"/>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-1"></div>
        <div class="col"><h1>Local - administracao</h1></div>
        <div class="col"><h1>www.plenosantacruz.com.br</h1></div>
    </div>
    <% apartamentos.forEach(function(apartamento){ %>
    <div class="row">
        <div class="col-1">
            <h1>APTO <%= apartamento.numero %></br><span style="background-color: <%= apartamento.situacao %>; font-size: 42px; font-weight: bold">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></h1>
        </div>
        <div class="col">
            <h3>Veiculos</h3>
            <% apartamento.local.veiculos.forEach(function(veiculo){ %>
                <%= veiculo.placa %> - <%= veiculo.cor %> - <%= veiculo.marca %> (<%= veiculo._id %>) [<% if(veiculo.data_ultimo_evento) { %><%= veiculo.data_ultimo_evento.toISOString() %><% } %>]<br/>
            <%})%>
            <h3>Biometrias - Funcionarios</h3>
            <% apartamento.local.biometrias.forEach(function(biometria){ %>
                <% if(biometria.perfil == '0004') { %>
                <%= biometria.nome %> [<% if(biometria.data_ultimo_evento) { %><%= biometria.data_ultimo_evento.toISOString() %><% } %>]<br/>
                <% } %>
            <%})%>
            <h3>Biometrias - Moradores</h3>
            <% apartamento.local.biometrias.forEach(function(biometria){ %>
                <% if(biometria.perfil != '0004') { %>
                <%= biometria.nome %> [<% if(biometria.data_ultimo_evento) { %><%= biometria.data_ultimo_evento.toISOString() %><% } %>]<br/>
                <% } %>
            <%})%>
        </div>
        <div class="col">
            <h3>Veiculos</h3>
            <% apartamento.portal.veiculos.forEach(function(veiculo){ %>
                <%= veiculo.placa %> - <%= veiculo.cor %> - <%= veiculo.montadora %><br/>
            <%})%>
            <h3>Funcionarios</h3>
            <% apartamento.portal.funcionarios.forEach(function(funcionario){ %>
                <%= funcionario.nome %><br/>
            <%})%>
            <h3>Proprietarios/Moradores</h3>
            <% apartamento.portal.proprietarios.forEach(function(proprietario){ %>
                <%= proprietario.nome %> (PROPRIETARIO)<br/>
            <%})%>
            <% apartamento.portal.moradores.forEach(function(morador){ %>
                <%= morador.nome %><br/>
            <%})%>
        </div>
    </div>
    <hr style="width: 100%; color: black; height: 1px; background-color:black;" />
    <%})%>            
</div>
</body>
</html>