<!doctype html>
<html lang="en">
<head>
  <% include partials/head %>
</head>
<body>
<% include partials/header %>
<h1 class="text-center title-1"> Lista de Veiculos </h1>
<a href="/veiculos">Veiculos</a>
<a href="/veiculos/expirados">Veiculos Expirados</a>
<table>
  <tr>
    <th><a href="veiculos?order=_id">#</a></th>
    <th><a href="veiculos?order=apartamento">Apartamento</a></th>
    <th><a href="veiculos?order=marca">Marca</a></th>
    <th><a href="veiculos?order=cor">Cor</a></th>
    <th><a href="veiculos?order=placa">Placa</a></th>
    <th><a href="veiculos?order=rotulo">Rotulo</a></th>
  </tr>
  <% veiculos.forEach(function(veiculo){ %>
  <tr>
    <td><%= veiculo._id %></td>
    <td><%= veiculo.apartamento %></td>
    <td><%= veiculo.marca %></td>
    <td><%= veiculo.cor %></td>
    <td><%= veiculo.placa %></td>
    <td><%= veiculo.rotulo %></td>
  </tr>
  <%})%>
</table>
</body>
</html>
